@charset "UTF-8";
                             /*
$sprites: sprite-map("sprites/*.png");
$sprites-img:sprite-url($sprites);

@mixin sprite-background($name) {
background-image: $sprites;
background-repeat: no-repeat;
overflow: hidden;
content: "";
position: absolute;
display: block;
height: image-height(sprite-file($sprites, $name)) / 2;
width: image-width(sprite-file($sprites, $name)) / 2;
$ypos: round(nth(sprite-position($sprites, $name), 2) / 2);
background-position: 0 $ypos;
@include background-size(39px auto);
}

@mixin sprite-background-ajust($name) {
background-image: $sprites;
background-repeat: no-repeat;
$ypos: round(nth(sprite-position($sprites, $name), 2) / 2);
background-position: 0 $ypos;
@include background-size(39px auto);
}

*/
/* ===========================================================

   [Reset + Normalize] 

=========================================================== */
/* -----------------------------------------------------------
    Default Style Reset
----------------------------------------------------------- */
html, body,
div, span,
object, iframe,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
a, abbr, acronym, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, strong, sub, sup, tt, var,
ul, ol, li, dl, dt, dd,
form, fieldset, legend, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, figcaption, figure, footer, header, hgroup,
main, nav, section, summary {
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

h1, h2, h3, h4, h5 {
  font-size: 100%;
  font-weight: bold;
}

img {
  border: none;
  vertical-align: bottom;
}

svg:not(:root) {
  overflow: hidden;
}

em,
strong {
  font-style: normal;
  font-weight: bold;
}

table {
  border: none;
  border-spacing: 0;
  font-size: 100%;
}

th,
td {
  border: none;
  border-spacing: 0;
  vertical-align: top;
}

caption,
th {
  font-weight: normal;
  text-align: left;
}

ul,
ol,
dl {
  list-style: none;
}

input,
select,
textarea {
  vertical-align: middle;
}

hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

/* ===========================================================

   [Site Setting] 

=========================================================== */
/* -----------------------------------------------------------
    Basic Style
----------------------------------------------------------- */
html {
  font-size: 100%;
  overflow-y: scroll;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  color: #333333;
  font-size: 14px;
  font-size: 0.875rem;
  overflow: hidden;
}

body,
input,
select,
button,
textarea {
  font-family: "メイリオ", "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

a:link {
  color: #001b4b;
  text-decoration: none;
}

a:visited {
  color: #667693;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: #e40000;
  text-decoration: underline;
}

p, ul li, ol li, dl dt, dl dd,
caption, th, td,
input, option, textarea {
  line-height: 1.5;
}

p, ul, ol, dl, table {
  margin-bottom: 10px;
  font-size: 16px;
  font-size: 1rem;
}

li p,
li ul,
li ol {
  margin-bottom: 0;
}

strong {
  font-weight: bold;
}

em {
  font-weight: bold;
}

small {
  font-size: 14px;
  font-size: 0.875rem;
}

/* ===========================================================

   [Layout] 

=========================================================== */
/* ===========================================================

   [header] 

=========================================================== */
/* ===========================================================

   Footer 

=========================================================== */
/* ===========================================================

   Top

=========================================================== */
/* ===========================================================

   [Modules] 

=========================================================== */
/* -----------------------------------------------------------
    01. Headings
----------------------------------------------------------- */
/* -----------------------------------------------------------
    02. Box
----------------------------------------------------------- */
/* -----------------------------------------------------------
    03. List
----------------------------------------------------------- */
/* -----------------------------------------------------------
    04. Column
----------------------------------------------------------- */
/* -----------------------------------------------------------
    04. Table
----------------------------------------------------------- */
/* -----------------------------------------------------------
    06. Image
----------------------------------------------------------- */
/* -----------------------------------------------------------
    07. Text
----------------------------------------------------------- */
/* -----------------------------------------------------------
    08. Link
----------------------------------------------------------- */
/* -----------------------------------------------------------
    09. Button
----------------------------------------------------------- */
/* -----------------------------------------------------------
    10. Unique
----------------------------------------------------------- */
/* -----------------------------------------------------------
    11. Ajust
----------------------------------------------------------- */
.mb00 {
  margin-bottom: 0 !important;
}

.mb05 {
  margin-bottom: 5px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.pd-00 {
  padding: 0 !important;
}

.align-L {
  text-align: left !important;
}

.align-C {
  text-align: center !important;
}

.align-R {
  text-align: right !important;
}

.align-T {
  vertical-align: top !important;
}

.align-M {
  vertical-align: middle !important;
}

.align-B {
  vertical-align: bottom !important;
}
