@charset "utf-8";

/* ===========================================================

   [Modules] 

=========================================================== */

/* -----------------------------------------------------------
    01. Headings
----------------------------------------------------------- */

/* -----------------------------------------------------------
    02. Box
----------------------------------------------------------- */

/* -----------------------------------------------------------
    03. List
----------------------------------------------------------- */

/* -----------------------------------------------------------
    04. Column
----------------------------------------------------------- */

/* -----------------------------------------------------------
    04. Table
----------------------------------------------------------- */

/* -----------------------------------------------------------
    06. Image
----------------------------------------------------------- */

/* -----------------------------------------------------------
    07. Text
----------------------------------------------------------- */

/* -----------------------------------------------------------
    08. Link
----------------------------------------------------------- */

/* -----------------------------------------------------------
    09. Button
----------------------------------------------------------- */

/* -----------------------------------------------------------
    10. Unique
----------------------------------------------------------- */

/* -----------------------------------------------------------
    11. Ajust
----------------------------------------------------------- */

.mb00{margin-bottom:0!important;}
.mb05{margin-bottom:5px!important;}
.mb10{margin-bottom:10px!important;}
.mb15{margin-bottom:15px!important;}
.mb20{margin-bottom:20px!important;}
.pd-00{padding: 0!important;}
.align-L{text-align: left!important;}
.align-C{text-align: center!important;}
.align-R{text-align: right!important;}
.align-T{vertical-align: top!important;}
.align-M{vertical-align: middle!important;}
.align-B{vertical-align: bottom!important;}